:root {
  --primary-color: #82d8d8;
  --primary-color-light: #b1e7e7;
  --secondary-color: #524763;
  --secondary-color-light: #625577;
  --background-color: #fff3da;
  --text-white: #ffffff;
  --text-between: #ffeec9;
  --text-dark: #82d8d8;
}
