:root {
  --primary-color: #82d8d8;
  --primary-color-light: #b1e7e7;
  --secondary-color: #524763;
  --secondary-color-light: #625577;
  --secondary-color-lightest: #c1bacd;
  --background-color: #fff3da;
  --text-white: #ffffff;
  --text-between: #ffeec9;
  --text-dark: #333333;
  --heading-primary: 3.5rem;
  --heading-secondary: 2.3rem;
  --paragraph: 1.6rem;
}
