.slick-slider {
  width: 88vw;
}
.slick-dots li button:before {
  color: white;
}
.slick-dots li.slick-active button:before {
  color: var(--primary-color);
}
.slick-next:before {
  color: var(--primary-color);
  font-size: 8rem;
  margin-right: 7rem;
}
.slick-prev:before {
  color: var(--primary-color);
  font-size: 8rem;
  margin-left: -7rem;
}
